Redirect 302 /links/evals2016-pre-staff https://secretary-sandbox.unm.edu/2017/deans-evals/staff-preannouncement.pdf
Redirect 302 /links/evals2016-pre-faculty https://secretary-sandbox.unm.edu/2017/deans-evals/faculty-preannouncement.pdf
Redirect 302 /links/evals2016-pre-staff-resprate https://secretary-sandbox.unm.edu/2017/deans-evals/2015-staff-resprates.pdf
Redirect 302 /links/evals2016-pre-faculty-resprate https://secretary-sandbox.unm.edu/2017/deans-evals/2015-faculty-resprates.pdf

Redirect 302 /links/genedcomment https://unmm.sharepoint.com/teams/ous/facgov/genedfacultycomment
Redirect 302 /links/aftc https://unmm.sharepoint.com/teams/ous/aftc/Shared%20Documents/
